
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body{
    background-color: white;
}
aside {
    display: flex;
    flex-direction: column;
}
.articles {
    color: red;
    width: 50%;
}